/* FOUNDATIONAL STYLES */

@import url('normalize.css');
@import url('reset.css');

/* COMPONENTS ARE LOADED VIA MAIN.JS */

:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}