[data-component~="bottom_nav"] {
    height: auto;
    margin: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 100px;
    top: 100px;
    transition: opacity 1s;
    flex-direction: column;
    z-index: 10;
    background: transparent;
}

[data-component~="bottom_nav"] * {
    transition: all 0.20s;
}

[data-component~="bottom_nav"] #undo {
    margin-bottom: 75px;
    background: hsla(125, 0%, 35%, 0.1);
}

[data-component~="bottom_nav"].hide {
    pointer-events: none;
    opacity: 0;
}

[data-component~="bottom_nav"] .spacer {
    width: 15px;
    height: 15px;
}

[data-component~="bottom_nav"].disabled {
    pointer-events: none;
}

[data-component~="bottom_nav"] button {
    --size: 60px;
    padding: 10px 15px;
    background: transparent;
    border: none;
    border-radius: 50%;
    margin: 0 3px;
    color: #333;
    cursor: pointer;
    margin-right: 20px;
    width: var(--size);
    height: var(--size);
}

[data-component~="bottom_nav"] button#approve,
[data-component~="bottom_nav"] button#approve-and-go-back {
    color: green;
}

[data-component~="bottom_nav"] #approve {
    margin-bottom: 18px;
    background: hsla(125, 100%, 35%, 0.1);
    font-size: 1.45rem;
}

[data-component~="bottom_nav"] button#reject {
    color: crimson;
    background: hsla(34, 100%, 35%, 0.1);
}

[data-component~="bottom_nav"] #approve:active {
    color: white;
    background: hsla(125, 100%, 35%, 1);
}

[data-component~="bottom_nav"] button#reject:active {
    color: white;
    background: hsla(34, 100%, 35%, 1.0);
}

[data-component~="bottom_nav"] button#reject-and-go-back {
    background: crimson;
    color: white;
}

[data-component~="bottom_nav"].disabled button#reject,
[data-component~="bottom_nav"].disabled button#reject-and-go-back,
[data-component~="bottom_nav"].disabled button#approve-and-go-back,
[data-component~="bottom_nav"].disabled button,
[data-component~="bottom_nav"].disabled button#approve {
    color: #BBB;
    background: transparent;
    border-color: transparent;
}

@media (hover: hover) {
    [data-component~="bottom_nav"] button#reject:hover {
        background: crimson;
        color: white;
    }

    [data-component~="bottom_nav"] button:hover {
        background: #EEE;
    }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
    [data-component~="bottom_nav"] button:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

@media (prefers-color-scheme: dark) {
    [data-component~="bottom_nav"] {
        border-top-color: #333;
    }
    [data-component~="bottom_nav"] button {
        color: white;
    }
    [data-component~="bottom_nav"].disabled {
        background: #333;
    }
}