[data-component="metadata"] {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

[data-component="metadata"] #badge,
[data-component="metadata"] #response_quality {
    border-radius: 15px;
    background: var(--twitter-blue-link);
    color: white;
    line-height: var(--line-height);
    font-size: var(--font-size);
    display: inline-block;
    padding: 3px 12px;
}

[data-component="metadata"] #response_quality {
    background: #CCC;
    color: black;
}

[data-component="metadata"] #response_quality.hide,
[data-component="metadata"] #badge.hide {
    display: none;
}