[data-component="tabs"] {
    background: var(--twitter-blue-link);
    position: fixed;
    top: calc(var(--sat) + 42px);
    left: 0;
    right: 0;
    z-index: 2;
}

[data-component="tabs"] ul {
    margin: 0;
    padding: 0 15px;
    list-style: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.25);
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
}

[data-component="tabs"] ul li {
    display: block;
}

[data-component="tabs"] ul li a {
    text-decoration: none;
    color: white;
    padding: 4px 10px;
    margin-top: 3px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

[data-component="tabs"] ul li:first-child {
    width: 60px;
    flex-shrink: 0;
}

[data-component="tabs"] ul li a.active {
    border: 1px solid transparent;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(255, 255, 255, 0.25);
}