[data-component~="toolbar"] {
    height: 85px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity 1s;
    z-index: 2;
    background: white;
    border-top: 1px solid #eee;
    padding-bottom: 25px;
}

[data-component~="toolbar"].hide {
    pointer-events: none;
    opacity: 0;
}

[data-component~="toolbar"].disabled {
    pointer-events: none;
    opacity: 0.5;
}

[data-component~="toolbar"] button {
    padding: 10px 15px;
    background: transparent;
    border: none;
    border-radius: 8px;
    margin: 0 3px;
    color: #333;
    cursor: pointer;
}

[data-component~="toolbar"] button:hover {
    background: #EEE;
}

[data-component~="toolbar"] button#reject {
    background: crimson;
    color: white;
}

[data-component~="toolbar"] button#reject:hover {
    background: rgb(46, 171, 248);
}

@media (prefers-color-scheme: dark) {
    [data-component~="toolbar"] {
        background: black;
        border-top-color: #333;
    }
    [data-component~="toolbar"] button {
        color: white;
    }
    [data-component~="toolbar"] button:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}