[data-component~="toolbar"] {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity 1s;
}

[data-component~="toolbar"].hide {
    pointer-events: none;
    opacity: 0;
}

[data-component~="toolbar"] button {
    padding: 10px 15px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 3px;
}

[data-component~="toolbar"] button#approve {
    background: green;
    color: white;
}

[data-component~="toolbar"] button#reject {
    background: red;
    color: white;
}
