[data-component="top_nav"] {
    background: var(--twitter-blue-link);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    padding-top: calc(var(--sat) + 10px);
    color: white;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
}

[data-component="top_nav"] ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

[data-component="top_nav"] ul li,
[data-component="top_nav"] a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

[data-component="top_nav"] ul:last-child a {
    padding-left: 5px;
}

[data-component="top_nav"] .hide {
    display: none;
}

body.offline [data-component="top_nav"] {
    background: var(--twitter-offline-blue);
}

/*
See viewport.css for toggling visibility of these

[data-component="top_nav"] #tinder,
[data-component="top_nav"] #timeline {
  // ...
}
*/