[data-component="top_nav"] {
    background: var(--twitter-blue-link);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: white;
}

[data-component="top_nav"] ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

[data-component="top_nav"] ul li,
[data-component="top_nav"] i {
    color: white;
}